body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto auto;
    position: relative;
}

.header-main-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 10px;
}

header {
    padding: 20px 5px;
    text-align: center;
}

h1 {
    font-size: .9em;
    text-transform: uppercase;
    color: rgb(77, 76, 76);
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
    margin: auto auto;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 20px;
    height: 125px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avatar {
    border-radius: 50%;
    height: 60px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container .text-container {
    margin-left: 10px;
}

.modal h2 {
    margin: 20px 0 5px;
}

h2, p {
    margin: 5px 0;
}

h2 {
    font-size: .9em;
}

p {
    color: grey;
    font-size: .75em;
}

.email {
    font-size: .6rem;
}

.overlay {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(100, 100, 100, .4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 260px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid rgb(211, 211, 214);
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

hr {
    width: 250px;
    border: .5px solid rgb(211, 211, 214);
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-main-container {
        max-width: 720px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 30px;
    }

    header {
        text-align: left;
    }

    .card {
        padding: 10px;
    }

    .avatar {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }

    hr {
        width: 275px;
    }

    .email {
        font-size: .7em;
    }

    .modal {
        width: 375px;
    }
}

@media screen and (min-width: 1024px) {
    .header-main-container {
        max-width: 1200px;
    }
    
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    hr {
        width: 300px;
    }
}
